*
{
    box-sizing: border-box; 
}

h1
{
    margin-left: 15px;
}

.info-1, .info-2, .info-3 {
    width: 32%;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center bottom;
}

.info-1
{
    background-image: url(./assets/task2-bg.jpeg);
    margin-left: 15px;
}

.info-2
{
    background-image: url(./assets/task2-bg1.jpeg);
}

.info-3
{
    background-image: url(./assets/task2-bg2.jpg);
}

section
{
    padding: 25px 15px;
    margin: 5px;
    border-radius: 10px;
    display: inline-block;
}